<template name="editLayout">
        <!-- Button trigger modal -->
      
        
        <!-- Modal -->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                  <button type="button" class="close" id="closeX" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="" class="container" method="post">
                      {{#with fornecedor}}
                        <div class="form-group">
                          <label for="exampleInputEmail1">Nome</label>
                          <input type="text" class="form-control" value="{{name}}" id="inputNameEdit" aria-describedby="emailHelp" placeholder="Digite o nome">
                    
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nome do produto</label>
                            <input type="text" class="form-control" value="{{product_name}}" id="inputProductNameEdit" aria-describedby="emailHelp" placeholder="Digite o nome">
                      
                          </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email</label>
                          <input type="email" class="form-control" value="{{email}}" id="inputEmailEdit" aria-describedby="emailHelp" placeholder="Digite o email">
                    
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Quantidade de Produtos</label>
                          <input type="number" class="form-control"  value="{{quant}}" id="inputQuantEdit" aria-describedby="emailHelp" placeholder="Digite a quantidade">
                    
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Data</label>
                          <input type="date" class="form-control"  value="" id="inputQuantEdit" aria-describedby="emailHelp" placeholder="Digite a quantidade">
                    
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Valor</label>
                          <input type="number" class="form-control"  value="{{valor}}" id="inputValorEdit" aria-describedby="emailHelp" placeholder="Digite a quantidade">
                    
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Telefone</label>
                          <input type="phone" class="form-control"  value="" id="inputTelefoneEdit" aria-describedby="emailHelp" placeholder="Digite a quantidade">
                    
                        </div>
                        {{/with}}
                        <div class="modal-footer">
                            <button type="button"  class="btn btn-secondary" id="close" data-dismiss="modal">Close</button>
                            <button type="button" id="save" class="btn btn-primary" data-dismiss="modal" >Save changes</button>
                          </div>
                      </form>
                </div>
                
              </div>
            </div>
          </div>
        
      </template>